section.combined-background{
    background: #90CAF9 url(img/ai-generated-8610368_1280.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
}