.background-image {
    background-image: url(background/img/rosto-aproximado-de-sapo-voador-no-ramo-imagem-aproximada-de-sapo-javanes-rhacophorus-reinwartii-em-folhas-verdes_488145-3016.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover ;

}