.combined-background{
    height: 600px;
    background-image: url(background/img/lobão.jfif) ;
    background-color: #08044d;
    background-repeat: no-repeat;
    background-position: center;
    
}