.background-image {
    height: 400px;
    background: url(img/arara.jpg) no-repeat;
    color: white;
    background-position: center;
    background-size: contain;
    background-color: rgb(105, 108, 112);
}