
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


body{
    font-family: "sora";
    background: #0f315c;
    color: white;
    margin: 0;
}

header{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.plug{
    background: no-repeat #0f315c;
    background-image: url(vector.png), url(vector-2.png) ;
    background-position: center left, center right;
    height: 40px;
    width: 160px;
    margin-top: -30px;
    margin-left: auto;
    border-radius: 15px;
    margin-right: auto;
    border-radius: 15px;
}

.container{
    max-width: 600px;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: auto;
}

.container .des{
    top: 20px;
    left: -300px;
    position: relative;
}

.container .des span{
    color: black;
    background: #F5B12C;
    position: relative;
    top: -40px;
    padding: 5px 10px;
    font-weight: 600;
}

.container .pro{
    top: -110px;
    left: 200;
    position: relative;
}

.container .pro span{
    top: 8px;
    left: -10px;
    font-size: 10px;
    background: #19B303;
    padding: 5px 10px;
    font-weight: 600;
    position: relative;
}

p{
    font-size: 16px;
    text-align: center;
    width: 650px;
    margin-top: 0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 60px;
    border: 1px solid #FFFFFF;
    padding: 10px, 25px;
    border-radius: 20px;
    font-size: 14px;
}

hr{
    margin-top: 40px;
    border: 3px solid #FFFFFF;
}

h1{
    font-size: 30px;
    text-align: center;
    color: #4DCBFE;
    margin-bottom: 15px;
}

footer{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #213F8C 50%, #1E3980);
}


footer section{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

footer hr{
    border: 1px solid #F5B12C;
    margin-bottom: 60px;
}

footer .texto1 span{
    font-weight: 200;
}

footer .texto1 .amarela{
    color: #F5B12C;
}

footer .texto1 span strong{
    color: #F5B12C;
}

footer .texto1{
    max-width: 300px;
}

footer .info div{
    display: inline-table;
    margin-inline-end: 80px;
    margin-top: 60px;
}

.email span{
    font-weight: 100;
}

.email p{
    margin-top: 0;
}

.endereco span{
    font-weight: 100;
}

.endereco p{
    margin: 0;
}

.midias p{
    font-weight: 100;
    margin: 0;
}

.midias span{
    margin-inline-end: 10px;
    font-size: 30px;
}

.midias i{
    color: #4DCBFE;
}

#instagram{
    color: #F5B12C;
}

#dividir{
    border: 1px solid #0F315C;
    margin-bottom: 0;
}

footer img {
    display: flex;
    margin: auto;
    padding: 20px;
    width: 50px;
}