section.background-image{
    height: 400px;
    background-image: url("/background/img/passaro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}