@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    font-family: "Sora", sans-serif;
    background-color: #0F315C;
}
.container1{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-top: 24px;
    margin-bottom: 20px;
}

main .container .Designer p{
    color: black;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #1f1f1f;
    background-color: #FDB32F;
    text-align: center;
    width: 62px;
    padding: 3px;
    position: relative;
    top: 48px;
    left: 602px;
}

main .container .Designer img{
    width: 28px;
    height: 34px;
    position: relative;
    top: 36px;
    left: 664px;
}

main .container h1{
    font-size: 36px;
    color: #4CC8FF;
    text-align: center;
}

main .container p{
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

main .container .Programador p{
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #1f1f1f;
    background-color: #19B100;
    text-align: center;
    width: 86px;
    padding: 3px;
    position: relative;
    bottom: 20px;
    left: 1200px;
}

main .container .Programador img{
    width: 28px;
    height: 34px;
    position: relative;
    top: 0px;
    left: 1180px;
}

main .container .link a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

main .container .link{
    max-width: 120px;
    margin: auto;
    padding: 5px;
    color: #ffffff;
    border: 1px solid;
    text-align: center;
    border-radius: 30px;
}

main .tomada hr{
    margin-top: 90px;
    border: 2px solid #ffffff;
}

main .tomada .plug{
    height: 40px;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    background-color: #0F315C;
    margin-top: -30px;
    background-image: url(Img/vector.png), url(Img/vector-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
}

footer{
    background-color: #213F8C;
    margin-top: 100px;
    border-top: 2px solid #FDB32F;
    padding-top: 50px;
    padding-bottom: 20px;
}
footer p{
    max-width: 33%;
    color: #ffffff;
}
footer p span,
footer p strong{
    color: #FDB32F;
}
footer address > div{
    display: inline-block;
    width: 30%;
    color: #ffffff;
}
footer address strong{
    display: block;
    color: #ffffff;
}
footer img{
    padding-top: 50px;
}
