section{ 
    background-color: rgb(255, 0, 0);
    height: 200px;
}

.box1{
background-color: rgb(255, 0, 0);
}

.box2{
background-color: rgb(9, 9, 233);
}

.box3{
background-color: rgb(10, 145, 10);
}
