@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    font-family: "Sora", sans-serif;
    background-color: #0F315C;
}

header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;

}
main {
    width: auto;

}
h1 {
    color: #4CC8FF;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}
.nome-figma-primeiro {
    background-color: #FDB32F;
    width: 90px;
    stroke: black;
    padding: 1px;
}
.nome-figma-segundo {
    background-color: #19B100;
    width: 110px;
    stroke: black;
    padding: 1px;
}
main .container{
    width: auto;

}
main .container .nome-figma{
    width: auto;
    
}
main .container h1{
    width: auto;
    
}
main .container .tomada{
    text-align: center;
    
}
.tomada .plug{
    background-position: center left, center right;
    background-image: url(vector.png), url(vector-2.png) ;
    background-repeat: no-repeat;
    text-align: center;
    height: 40px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    
}
hr {
    margin-top: 60px;
    border: 2px solid white;
}
.container a {
    color: white;
    text-decoration: none;
    margin-top: 70px;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
}
/* TRABALHAR DEPOIS*/
footer {
    width: auto;

}